*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

.main-title {
	color: #994b59; /*red/pink*/
	font-weight: 400;
	font-size: 1em;
	line-height: 1.25;
	font-family: 'Raleway', Calibri, Arial, sans-serif;
	}

								/*FONTS*/
h2, h3, h4, h5, nav, #copyright {
	text-align: center;
	line-height: 1em;
	font-weight: 900;
	font-family: 'Abel', sans-serif;

	text-transform: uppercase;
}
nav{
	padding: 20px;
	font-weight: 400;
}

nav a{
	color: #062447;/*dark blue*/
	font-size: 20pt;
	font-family: 'Raleway', Calibri, Arial, sans-serif;
	margin-right: 5%;

}

.navheader{
background-color:#9ce3e3;/*light blue*/

}



h2 {
	font-size: 20pt;
	color: #8abed8;/*light blue*/
}

h3 {
	font-size: 14pt;
	color:#16b3d4;/*dark blue*/
	text-align: center;
}

a, p, div {
	text-align: left;
	font-family: 'Abel', sans-serif;
	font-size: 14pt;
}

p{
padding:10px;
}

a {
	text-decoration: none;
	text-transform: uppercase;
	color: #062447;/*dark blue*/
}


a: hover {
	color: #a0b2b6;/*grey/blue*/
}
.links {
	padding: 0px;
	margin: 20px;
}



								/*ABOUT ME*/
#about-me {
	max-width: 700px;
	}


								/*Profile Photo*/
#profile {
	float: right;
	width: 35%;
	height: 35%;
	margin: 20px;
	margin-bottom: 0px;
	border-radius: 50%;
}

								/*PORTFOLIO*/
#portfolio {
	margin-top: 10%;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

#lightbox {
	margin: 0 auto;
	width: 100%;
}
						  /*Portfolio Thumbnail*/
h4 {
	text-transform: uppercase;
	text-align: center;
	padding: 0px;
	margin: 10px;
	display: none;
	color: white;
}

.album {
	width: 100%;
	display: inline;
	float: left;
	margin: 0 auto;
	margin-bottom: 5px;
}

#lightbox ul {
	overflow: hidden;
}
/*Image styles*/
#lightbox ul li {
	list-style-type: none;
	cursor: pointer;
}

#lightbox ul li img {
	float: left;
	margin: 5px;
	width: 15%;
	height: 15%;
	border-radius: 25%;
	-webkit-filter: grayscale(0.4) sepia(1);
}

#mapofmeckila {
	height: 30%;
}

#lightbox ul li img:hover {
	-webkit-filter: none;
}

								/*Lightbox Photo*/
#photozoom {
	margin: 0 auto;
  position: fixed;
	top: 20%;
	left: 150px;
	z-index: 2000;

} /*Enlarged photo hidden until thumbnail is clicked*/

#lightboxphoto {
	width: 80%;
	height: 80%;
	/*border: 10px solid white;*/
	z-index: 3000;
}

#overlay{
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: #000; /*Overlay hidden until thumbnail is clicked*/
  opacity: .7;
  z-index: 1000;
  } /*Stacking element*/

.hidden {
  display: none;
  } /*Removes #overlay and #photozoom from page until thumbnails are clicked*/

														/*Responsive Compatibility*/

@media screen and (max-width: 800px) and (min-width: 600px){  /*Tablet*/
	.main-title {
		font-size: .5em;
	}
	#lightbox ul li img {
	float: left;
	margin: 5px;
	width: 30%;
	height: 30%;
	border-radius: 25%;
	}
}

@media screen and (max-width: 599px) and (min-width: 401px){  /*Larger Smartphones*/
	.main-title {
		font-size: .25em;
	}
	#lightbox ul li img {
		float: left;
		margin: 1px;
		width: 35%;
		height: 35%;
		border-radius: 25%;
	}
	#skills {
		display: none;
	}
}

@media screen and (max-width: 400px) and (min-width: 320px){ /*iPhone*/
	.main-title {
		font-size: .25em;
	}
	#lightbox ul li img {
	float: left;
	margin: 5px;
	width: 80%;
	height: 80%;
	border-radius: 25%;
	}
	#diagram {
		display: block;
		width:450px;
		height:450px;
		padding: 0px;
  	margin-left: 0px;
  	margin-right: 60%;
		margin-bottom: 90px;
	}
	#skills {
		display: none;
	}
}

								/*SKILLS*/

.get {
	display:none;
}

								/*CONTACT*/
#contact{
max-width: 700px;
line-height:20%;
}

								/*FOOTER*/
#copyright {
	font-size: 8pt;
}

								/*HEADER*/
.large-header {
	position: relative;
	width: 100%;
	background: #333;/*dark grey*/
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

.demo-1 .large-header {
	background-color: #33cccc; /*bright blue- main background*/
}

.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;/*off-white- main name*/
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.demo-1 .main-title {
	text-transform: uppercase;
	font-size: 4.2em;
	letter-spacing: 0.1em;
}

.main-title .thin {
	font-weight: 200;
}

@media only screen and (max-width : 768px) {
	.demo-1 .main-title{
		font-size: 3em;
	}
}


